mixin project-slider(subtitle='',title='',text='',main_title='',img='',url='')
    li.glide__slide
        .slider-projects__description-wrapper
            span.slider-projects__tag= subtitle
            h3= title 
            p.slider-projects__description= text
        .slider-projects__img-wrapper
            .slider-projects__text-wrapper
                h2= main_title
                a.projects__item-link(href=`${url}`) Посмотреть
            img.slider-projects__img(src=`${img}.jpg` alt='')
